{%extends 'base.html'%}
{%block title%}
My profile
{%endblock%}
{%block content%}
    <h2>My Profile</h2>

        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>First Name:</strong> {{ user.first_name or "Not set" }}</p>
        <p><strong>Last Name:</strong> {{ user.last_name or "Not set" }}</p>
        <p><strong>Phone Number:</strong> {{ user.phone_number or "Not set" }}</p>
        <p><strong>Occupation:</strong> {{ user.occupation or "Not set" }}</p>
        <p><strong>Gender:</strong> {{ user.gender or "Not set" }}</p>

        <a href="{{ url_for('profile.edit_profile') }}">
            Edit Profile
        </a>
{%endblock%}