
--Mao ni pang install inside sa venv---
python -m pip install
Flask-Login
Flask-Migrate
Flask-Mail
Flask-SocketIO
Flask-SQLAlchemy
PyMysql
python-dotenv
Werkzeug

Install MySQL 
Password: mindcare2026
CREATE DATABASE: mindcare_db


---Mao ni sulod sa .env---
SECRET_KEY = MindCareProject

DATABASE_URL = mysql+pymysql://root:mindcare2026@localhost/mindcare_db

MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=mindcareteam04@gmail.com
MAIL_PASSWORD=tglx qrxp jzzp xreb
MAIL_DEFAULT_SENDER=mindcareteam04@gmail.com



