<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>
        {% block title %}
        MindCare
        {% endblock %}
    </title>

</head>

<body>

    {% if current_user.is_authenticated %}

    <aside>

        <h2>MindCare</h2>

        <!-- ===================== -->
        <!-- SEEKER SIDEBAR -->
        <!-- ===================== -->

        {% if current_user.role == "Seeker" %}

            <a href="{{ url_for('seeker.dashboard') }}">Dashboard</a>
            <a href="{{ url_for('community.community_feed') }}">Community Feed</a>
            <a href="{{ url_for('mood.mood_tracker') }}">Mood Tracker</a>
            <a href="{{ url_for('seeker.chat', conversation_id = request.args.get('conversation_id'))}}">Chat</a>
            <a href="#">Resources</a>
            <a href="{{ url_for('profile.view_profile') }}">Profile</a>
            <a href="#">Crisis Support</a>
            <a href="#">Volunteer Application</a>

        <!-- ===================== -->
        <!-- VOLUNTEER SIDEBAR -->
        <!-- ===================== -->

        {% elif current_user.role == "Volunteer" %}

            <a href="{{ url_for('volunteer.dashboard') }}">Dashboard</a>
            <a href="{{ url_for('community.community_feed') }}">Community Feed</a>
            <a href="{{ url_for('volunteer.chat') }}">Chat</a>
            <a href="#">Counselor Referral</a>
            <a href="#">Resources</a>
            <a href="{{ url_for('profile.view_profile') }}">Profile</a>

        <!-- ===================== -->
        <!-- COUNSELOR SIDEBAR -->
        <!-- ===================== -->

        {% elif current_user.role == "Counselor" %}

            <a href="#">Dashboard</a>
            <a href="#">Counseling Sessions</a>
            <a href="#">referrals</a>
            <a href="#">Resources</a>
            <a href="{{ url_for('profile.view_profile') }}">Profile</a>

        <!-- ===================== -->
        <!-- ADMIN SIDEBAR -->
        <!-- ===================== -->

        {% elif current_user.role == "Admin" %}

            <a href="#">Dashboard</a>
            <a href="#">Users</a>
            <a href="#">Community</a>
            <a href="#">Volunteers</a>
            <a href="#">Counselors</a>
            <a href="#">Reports</a>
            <a href="#">Resources</a>

        {% endif %}

        <hr>

        <a href="#">Logout</a>

    </aside>

    {% endif %}

    <main>
        {% if current_user.is_authenticated%}
            <div class="notification-container">
                <button type="button" id="notification-button" class="notification-button">🔔
                    {% if unread_notifications|length > 0%}
                        <span class="notification-badge">{{unread_notifications|length}}</span>
                    {%endif%}
                </button>
                <div id="notification-dropdown" class="notification-dropdown" hidden>
                    <h3>
                        Notifications
                    </h3>
                    {% for notification in notifications%}
                        <div class="notification-item" data-notification-id = "{{ notification.notification_id }}">
                            <strong>
                                {{notification.title}}
                            </strong>
                            <p>
                                {{notification.message}}
                            </p>
                            {% if notification.notification_type == "ChatRequestAccepted" and notification.conversation and notification.conversation.conversation_status == "Active"%}
                            <a href="{{url_for('notification.notification_chat', notification_id=notification.notification_id)}}">
                                Enter Conversation
                            </a>
                            {% elif notification.notification_type == "ChatRequestAccepted" and notification.conversation and notification.conversation.conversation_status == "Closed" %}
                                <p>
                                    Conversation Ended
                                </p>
                            {%endif%}
                        </div>
                    {%else%}
                        <p>
                            No Notifications.
                        </p>
                    {%endfor%}
                </div>
            </div>
        {%endif%}
        {% with messages = get_flashed_messages(with_categories=true) %}

            {% if messages %}

                {% for category, message in messages %}

                    <div class="flash {{ category }}">
                        {{ message }}
                    </div>

                {% endfor %}

            {% endif %}

        {% endwith %}

        {% block content %}
        {% endblock %}

    </main>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    {% if current_user.is_authenticated%}
        <script>
            const currentUserId = {{current_user.user_id | tojson}}
        </script>
    {% endif %}
    <script src="{{url_for('static', filename='js/notification.js')}}"></script> 
    {%block scripts%}
    {%endblock%}

</body>

</html>